.container {
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;

  .avatar {
    height: 120px;
    width: 120px;
    image {
      height: 100%;
      width: 100%;
      min-width: 120px;
      border-radius: 10px;
    }
  }

  .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
      font-size: 28px;
      overflow: hidden;
      width: 100%;
      @extend .textover-flow-2;
    }
    .replayCount {
      font-size: 24px;
    }
    .desc {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
      .left {
        display: flex;
      }
      .right {
        display: flex;
      }
      .descItem {
        font-size: 24px;
        margin-right: 1em;
        &:active {
          opacity: 0.6;
        }
      }
      .name {
        max-width: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tag {
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 20px;
        color: #fff;
        border-radius: 4px;
        padding: 0px 10px;
        background-color: $primary-color;
        margin-right: 10px;
        max-width: 8em;
        @extend .textover-flow;
      }
      .date {
        color: #666;
        font-size: 20px;
      }
    }
  }
}
