.container {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;

  .avatar {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }

  .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    .title {
      font-size: 28px;
      overflow: hidden;
      width: 100%;
      @extend .textover-flow-2;
    }
    .replayCount {
      font-size: 24px;
    }
    .desc {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
      }
      .right {
        display: flex;
      }
      .descItem {
        font-size: 24px;
        margin-right: 1em;
      }
      .tag {
        font-size: 22px;
        color:  $primary-color;
        border-radius: 20px;
        padding: 6px 15px;
        background-color: #fafafa;
      }
    }
  }
}
