
.container {
  .search {
    height: 80px;
    padding: 10px 20px;
    background-color: $primary-color;
    .input {
      height: 60px;
      border-radius: 50px;
      background: #fff;
    }
  }
}
