

.container {

  .baseTab {
    height: calc(100vh - 96px);
    overflow-y: auto;
  }
  .tab1 {
    width: 100%;
    @extend .baseTab;
    .baseScrollView{
      width: 100%;
      padding: 0 40px;
      overflow-x: auto;
      overflow-y: hidden;
      border-bottom: 1px solid $primary-color;
      .tabbar {
        display: flex;
        flex-wrap: nowrap;
        color: #333;
        font-size: 32px;
      }
      .secondtabbar {
        display: flex;
        flex-wrap: nowrap;
        color: #333;
        font-size: 28px;
      }
      .scrollviewItem {
        padding: 10px 20px;
        flex-shrink: 0;
      }
      .active {
        color: $primary-color;
        font-weight: bold;
      }
    }
    .scrollTabbar {
      @extend .baseScrollView;
      padding: 10px 40px;
    }
    .scrollSecondTabbar {
      @extend .baseScrollView;
      padding: 8px 40px;
    }

  }
  .tab2 {
    @extend .baseTab;
    .node {
      .nodeTile {
        height: 100px;
        line-height: 100px;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding: 0 20px;
      }
      .nodeList {
        margin-bottom: 60px;
        .nodeItem {
          padding: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #ccc;
          display: flex;

          .avatar {
            height: 70px;
            width: 70px;
            margin-right: 20px;
            image {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }
          .title {
            font-size: 28px;
            overflow: hidden;
            flex: 1;
            @extend .textover-flow-2;
          }
        }
      }
      .tagList {
        padding: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .tagItem {
          font-size: 24px;
          padding: 10px 20px;
          color: #666;
          border-radius: 10px;
          border: 1px solid #ccc;
          margin-bottom: 20px;
        }
      }
    }
  }
}
