
.container {
  .pagination {
    padding: 40px 0;
  }
  .header {
    background-color: $primary-color;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    .avatar {
      width: 100px;
      height: 100px;
      background: transparent;
      margin-right: 30px;
      image {
        width: 100%;
        height: 100%;
        min-width: 100px;
        border-radius: 50%;
        background: transparent;
      }
    }
    .title {
      font-size: 36px;
    }
    .slogans {
      font-size: 24px;
    }
  }
}
