.scrollview {
  height: 100vh;
  padding-bottom: 100px;
  .container {
    height: 100%;
    .header {
      padding: 40px 40px 0 40px;
    }
    .title{
      text-align: left;
      font-weight: bold;
      font-size: 36px;
    }
    .relativeInfo {
      font-size: 28px;
      color: #666;
      margin: 10px 0;
    }
    .desc {
      font-size: 32px;
    }
  }
  .articleInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    .left {
      display: flex;
      font-size: 24px;
      color: #666;
      .text {
        margin-right: 1em;
      }
    }
    .right {
      display: flex;
      .btnItem {
        margin-left: 1em;
        :global(.icon) {
          color: $primary-color;
          font-size: 30px;
        }
      }
    }

  }
  .replay {
    padding: 0px 40px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-bottom: 50px;
  
    .replayItem {
      padding: 20px;
      border-bottom: 1px solid #ccc;
      .top {
        display: flex;
        .avatar {
          height: 70px;
          width: 70px;
          border-radius: 10px;
          margin-right: 20px;
        }
        .floor {
          margin-right: 10px;
        }
        .name {
          font-size: 28px;
          color: #333;
        }
        .date {
          font-size: 28px;
          color: #333;
        }
      }
  
      .bottom {
        font-size: 28px;
        color: #555;
        margin-top: 15px;
      }
  
    }
  
    .pagination {
      padding: 20px 0;
    }
  }
  .noMore {
    color: #666;
    font-size: 28px;
    padding: 40px 0;
    text-align: center;
  }
}
